.clientProfile {
  &__heading {
    background-color: $light-back-grey;
  }

  &__content {
    width: 90%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    height: 10rem;

    & h1 {
      color: $secondary-grey;
      font-weight: 300;
      text-align: center;
    }
  }

  &__list {
    padding: 2rem 4rem;
    width: 45%;
    margin: 2rem auto;
    border-radius: 4px;
    color: rgb(128, 128, 128);

    background: #ececec;
    p {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__buttons {
    width: 30%;
    margin: 0 auto;
    display: grid;
    grid-gap: 0.5rem;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;

    &--one {
      text-decoration: none;
      background-color: $secondary-blue;
      color: $white;
      padding: 0.5rem 1.5rem;
      border-radius: 3px;
    }
    &--two {
      text-decoration: none;
      border: 1px solid rgb(175, 174, 174);
      color: grey;
      padding: 0.5rem 1.5rem;
      border-radius: 3px;
    }

    &--three {
      text-decoration: none;
      border: 1px solid grey;
      color: $red;
      padding: 0.5rem 1.5rem;
      border-radius: 3px;
      font-family: inherit;
      font-size: 1rem;
    }
  }
}
