.clientListHeading {
  display: grid;
  grid-template-columns: 1.55fr 1.85fr 1.25fr 80px 1fr 100px 100px 100px 100px;
  text-align: center;
  margin: 0 auto 1rem auto;
  width: 90%;
  background-color: #a9a9d8;
  align-items: center;
  color: white;
  border-radius: 3px;
  font-weight: bold;

  & p {
    text-transform: uppercase;
    font-size: 12px;
    padding: 0.8rem 0;
  }
}
