*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;

  @include respond(tablet-land) {
    font-size: 93.75%;
  }
  @include respond(tablet-port) {
    font-size: 87.5%;
  }
  @include respond(large-phone) {
    font-size: 82.5%;
  }
  @include respond(phone) {
    font-size: 75%;
  }
}

// CSS reset End

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'lato', sans-serif;
  width: 100%;
  box-sizing: border-box;
}

$dark-blue: #303f9f; // DARK PRIMARY COLOR #303F9F
$primary-blue: #3f51b5; // PRIMARY COLOR#3F51B5;
$secondary-blue: #536dfe; // ACCENT COLOR#536DFE
$primary-grey: #212121; // PRIMARY TEXT#212121
$secondary-grey: #757575; // SECONDARY TEXT#757575
$tertiary-grey: #bdbdbd; // DIVIDER COLOR#BDBDBD
$light-grey: #c5cae9; // LIGHT PRIMARY COLOR#C5CAE9
$light-back-grey: #e1e5f7;
$white: #ffffff; // TEXT / ICONS#FFFFFF
$red: #ff5252; // ACCENT COLOR#FF5252
$light-pink: #ffcdd2; // LIGHT PRIMARY COLOR#FFCDD2
