@import './base';
@import './components/LoginPage.scss';

.isActive {
  font-weight: bold;
}

.clientListHeading {
  display: grid;
  grid-template-columns: repeat(12, 120px);
  text-align: center;
  padding: 0 1px;
  margin: 0 auto;
}
.clientListItem {
  display: grid;
  grid-template-columns: repeat(12, 120px);
  text-align: center;
  padding: 0 1px;
  margin: 0 auto;
}
